html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{  border: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family:Tahoma;
  box-sizing: border-box;
}

input, textarea {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  outline:none;
  resize: none;
  font-size: inherit;
}
input, textarea::-webkit-input-placeholder
{color: #aaa;}
input, textarea:-moz-placeholder
{color: #aaa;}

input[type=search]{
  /* -webkit-appearance: textfield; */
  box-sizing: content-box;
  font-family: inherit;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button{
  display: none;
}
button{
  background: transparent;
  border: solid 1px #55B2D6;
  color: #55B2D6;
}
button.block-button{
    display: block;
    background: #55B2D6;
    border: none;
    border-radius: 0.3rem;
    color: #fff;
    width: 100%;
    line-height: 2.5rem;
    font-size: 1.2rem;
}
button.block-button:disabled {
      background: #d5dbdd;
}

h1{
  font-size: 1.6rem;}
h2{
  font-size: 1.3rem;}

a{
  color: #55B2D6;
  text-decoration: none;}

html{
  height: 100%;}
body{
  height: 100%;
  color: #333;
}
body>a{
  display: none;
}
#app, .app{
  height: 100%;
}


@keyframes fadein {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from{
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes rotate-right {
  from{
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-90deg);
  }
}
@keyframes rotate-right-back {
  from{
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes rotate-up {
  from{
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-180deg);
  }
}
@keyframes rotate-up-back {
  from{
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes slide-down {
  from{
    max-height: 0;
  }
  to {
    max-height: 1000px;;
  }
}
@keyframes slide-up {
  from{
    max-height: 1000px;;
  }
  to {
    max-height: 0;
  }
}
@keyframes slide-left {
  from{
    position: relative;
    left: 100%;
  }
  to {
    position: relative;
    left: 0
  }
}
