body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-width: 768px;
}
.ski-layout .ant-layout-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  width: 100%;
  min-width: 768px;
  padding: 0 1rem;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  box-shadow: 0 0 2px #ddd;
}
.ski-layout .ant-menu-horizontal {
  flex: 1;
  border-bottom: none;
}
.ski-layout .ant-layout-header .logo {
  width: 60px;
  padding-top: 10px;
}

.ski-layout .ant-layout-content {
  margin-top: 80px;
  padding: 0 1rem;
}


.ski-layout .ant-layout-footer {
  min-width: 768px;
  display: flex;
  padding: 16px 1rem;
}
.ski-layout .ant-layout-footer p {
  flex: 1;
  margin-bottom: 0;
}
.ski-layout .ant-layout-footer p:last-child {
  text-align: right;
}

.ski-layout .ski-card {
  margin-bottom: 10px;
}
.ski-layout .brief b {
  font-family: serif;
  font-size: 16px;
}
.ski-layout .brief i {
  float: right;
  margin-top: 4px;
  cursor: pointer;
  color: #ccc;
}
.ski-layout .ski-card .flex {
  display: flex;
}
.ski-layout .ski-card .flex p {
  margin-bottom: 0;
  flex: 1;
}

.ski-collapse p {
  line-height: 1.5;
  margin-bottom: 0;
}
.ski-collapse .foot {
  display: flex;
  margin-top: 10px;
  font-size: 12px;
  color: #999;
}
.ski-collapse .foot p {
  flex: 1;
}
.ski-collapse .foot p:last-child {
  text-align: right;
}

.ski-header {
  display: flex;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 15px;
  border: 1px solid #ddd;
}
.ski-header h1 {
  flex: 1;
  margin: 0;
  font-size: 18px;
}
.ski-header span {
  line-height: 27px;
}
